SUPABASE_DB_DIRECT_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
SUPABASE_DB_TX_POOLER_URL=postgresql://USER:PROJECT:PASSWORD@POOLER_HOST:6543/DATABASE
SUPABASE_DB_SESSION_POOLER_URL=postgresql://USER:PROJECT:PASSWORD@POOLER_HOST:5432/DATABASE
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_URL=https://your-project-ref.supabase.co
PRISMA_ACCELERATE_URL=YOUR_PRISMA_ACCELERATE_URL
